.HelloWorld{
    background-color: greenyellow;
}

#ajax {
    margin-left: 20px;
}

.blue {
    background-color: blue;
}

.container {
    margin-top: 10px;
}

.filters {
    font-weight: bold;
    font-size: large;
}

table {
    border: 1px solid;
    margin-bottom: 5px;
}

th, td {
    text-align: left;
    padding-right: 10px;
}
